<section>
	<article>
		<h1 title="扩展文档" id="ext_doc">
			扩展文档
		</h1>
		<!--<dl ng-repeat="tx in data.text" id="{{'text_'+$index}}">
			<h2 title="{{tx.title}}">
				{{tx.title}}
			</h2>
			<code>
				{{tx.desc}}
			</code>
			<hr>
    	</dl>-->
		<dl ng-repeat="web in data.webs" id="{{web.key}}">
			<iframe src="{{'/doc/html/'+web.key}}" width="100%" frameborder="0" scrolling="no" style="margin-lef:5px" marginheight="0" marginwidth="0" onLoad="iframeSync(this)"></iframe>
    	</dl>
		<h1 title="接口文档" id="api_doc">
			接口文档
		</h1>
		<dl ng-repeat="func in data.func" id="{{replace(func.pkg+ '/' + func.name)}}">
			<dt>
				<div class="color-darkcyan">
					<span class="time">
						<span>作者：{{func.author.name}}</span>
						<span>{{func.author.date | dateFormat}}</span>
					</span>
					<b>{{func.title}}</b>
				</div>
				<p>{{func.desc}}</p>
				<h4>标签</h4>
				<div class="label-list">
					<label ng-repeat="label in func.tags">{{label}}</label>
				</div>
			</dt>
			<dd>
				<h4 ng-show="func.ws">扩展文档</h4>
				<table class="table" ng-show="func.ws">
					<tr>
						<th width="20%">文档</th>
						<th>描述</th>
					</tr>
					<tr ng-repeat="i in func.ws">
						<td><a class="color-dodgerblue" href="doc/html/{{i.key}}">{{i.index}}</span></td>
						<td>{{i.desc}}</td>
					</tr>
				</table>
				<h4>请求方法</h4>
				<table class="table">
					<tr>
						<th>url</th>
						<th>method</th>
						<th>msg</th>
						<th>type</th>
					</tr>
					<tr>
						<td>
							<a href="">{{func.url.path || '空'}}</a>
						</td>
						<td>
							<span>{{func.url.method || '空'}}</span>
						</td>
						<td>
							<span>{{func.url.desc || '空'}}</span>
						</td>
						<td>
							<span>{{func.url.ctype || '空'}}</span>
						</td>
					</tr>
				</table>
				<h4>参数说明</h4>
				<table class="table">
					<tr>
						<th width="20%">字段</th>
						<th width="20%">选项</th>
						<th>描述</th>
					</tr>
					<tr ng-if="!func.arg.items">
						<td colspan="3">
							<span>空</span>
						</td>
					</tr>
					<tr ng-repeat="i in func.arg.items">
						<td><span class="color-dodgerblue">{{i.name}}</span></td>
						<td>[{{i.type == 'O' ? '可选' : '必选'}}]</td>
						<td>{{i.desc}}</td>
					</tr>
				</table>
				<table class="table">
					<tr>
						<th>示例</th>
					</tr>
					<tr ng-repeat="i in func.arg.example">
						<td>
							<div ng-bind-html="repl_ws(i.cmt)"></div>
							<div ng-if="is_obj(i.data)" json-viewer="i.data"></div>
							<div ng-if="!is_obj(i.data)" ng-bind-html="repl_ws(i.data)"></div>
						</td>
					</tr>
				</table>
				<table class="table">
					<tr>
						<th>描述</th>
					</tr>
					<tr>
						<td>
							<span>{{func.arg.desc || '空'}}</span>
						</td>
					</tr>
				</table>

				<h4>返回说明</h4>
				<table class="table">
					<tr>
						<th width="20%">字段</th>
						<th width="20%">类型</th>
						<th>描述</th>
					</tr>
					<tr ng-if="!func.ret.items">
						<td colspan="3">
							<span>空</span>
						</td>
					</tr>
					<tr ng-repeat="i in func.ret.items">
						<td><span class="color-limegreen">{{i.name}}</span></td>
						<td>
							<span ng-if="i.type == 'O'">Object</span>
							<span ng-if="i.type == 'S'">String</span>
							<span ng-if="i.type == 'F'">Float</span>
							<span ng-if="i.type == 'I'">Int</span>
							<span ng-if="i.type == 'A'">Array</span>
						</td>
						<td>{{i.desc}}</td>
					</tr>
				</table>
				<table class="table">
					<tr>
						<th>示例</th>
					</tr>
					<tr ng-repeat="i in func.ret.example">
						<td>
							<div ng-bind-html="repl_ws(i.cmt)"></div>
							<div ng-if="is_obj(i.data)" json-viewer="i.data"></div>
							<div ng-if="!is_obj(i.data)" ng-bind-html="repl_ws(i.data)"></div>
						</td>
					</tr>
				</table>
				<table class="table">
					<tr>
						<th>描述</th>
					</tr>
					<tr>
						<td>
							<span>{{func.ret.desc || '空'}}</span>
						</td>
					</tr>
				</table>
				<h4 ng-if="func.see">相关</h4>
				<table class="table" ng-if="func.see">
					<tr>
						<th width="20%">接口</th>
						<th>描述</th>
					</tr>
					<tr ng-if="!func.see">
						<td colspan="2">
							<span>空</span>
						</td>
					</tr>
					<tr ng-repeat="i in func.see">
						<td><a class="color-limegreen" ng-click="gotoLocation(i)">{{i.name}}</span></td>
						<td>{{i.desc}}</td>
					</tr>
				</table>
			</dd>
		</dl>
	</article>
</section>