<header>
	<span class="logo" ng-click="toIdx()">
		API
		<span>接口说明</span>
	</span>
	<div class="nav-list" ng-if="">
		<ul>
			<li class="item">
				<a href="" class="k">标签</a>
			</li>
		</ul>
	</div>
	<div class="tags-select">
		<select ng-options="item for item in tags" ng-model="tagCur" ng-change="toggleTag(tagCur)"></select>
	</div>
	<div class="search-bar" ng-if="">
		<table>
			<tr>
				<td width="20">
					<select ng-options="item.name for item in pkgs" ng-model="itemCur" ng-change="toggleItem(itemCur)"></select>
				</td>
				<td>
					<input type="text">
				</td>
			</tr>
		</table>
		<button type="submit">搜索</button>
	</div>
</header>